<legend>Set Up AnnoJ</legend>
<% if current_user.admin? %>
  <%= simple_form_for Genome.new, url: tools_set_up_annoj_path, html: { id: "set_up_annoj" } do |f| %>
    <%= f.error_notification %>
    <%= f.input :id, collection: Genome.all, prompt: "Select a genome build...", required: true, label: false %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
  <% end %>
<% end %>

<legend>Export Sequence Fragment</legend>
<%= simple_form_for Genome.new, url: tools_genomic_sequence_path, html: { id: "genomic_sequence" } do |f| %>
  <%= f.input :id, collection: Genome.all, prompt: "Select a genome build...", label: false %>
  <%= label_tag :reference,  "Enter the name of the reference sequence:" %>
  <%= text_field_tag :reference %>
  <%= label(:start, :coord, "Enter the start and end to extract:") %>
  <%= text_field_tag :start, nil, placeholder: "One or higher" %> 
  <%= text_field_tag :end, nil, placeholder: "Higher than start value" %> 
  <br/>  
  <%= select_tag "strand", options_for_select([["Plus (+)", "+"], ["Minus (-)", "-"]]), prompt: "Select strand..." %>
  <br/>
  <%= f.submit "Extract sequence", :class => 'btn btn-action' %>
<% end %>