<h1>New organism</h1>
<% number_of_organisms = Organism.all.length%>
<% if  number_of_organisms >= 1%>
<h2>The database already carries <%= "#{number_of_organisms}" %> definition(s) </h2>
<p>Think carefully before adding another</p>
<% end %>
<% form_for(@organism) do |f| %>
  <%= f.error_messages %>
	<p>  <%= f.label :genus, "Genus (required)" %><br /> 
		 <%= f.text_field :genus %> 
	</p>
	<p>  <%= f.label :species, "Species (required)" %><br /> 
		 <%= f.text_field :species %> 
	</p>
	<p>  <%= f.label :strain, "strain (optional)" %><br /> 
		 <%= f.text_field :strain %> 
	</p>
	<p>  <%= f.label :pv, "pathovar (optional)" %><br /> 
		 <%= f.text_field :pv %> 
	</p>
	<p>  <%= f.label :taxid, "NCBI taxonomy ID (optional)" %><br /> 
		 <%= f.text_field :taxid %> 
	</p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', organisms_path %>