<%- model_class = Organism -%>
<div class="page-header">
    <h1><%= t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:genus) %>:</strong></dt>
    <dd><%= @organism.genus %></dd>
    <dt><strong><%= model_class.human_attribute_name(:species) %>:</strong></dt>
    <dd><%= @organism.species %></dd>
    <dt><strong><%= model_class.human_attribute_name(:strain) %>:</strong></dt>
    <dd><%= @organism.strain %></dd>
    <dt><strong><%= model_class.human_attribute_name(:pv) %>:</strong></dt>
    <dd><%= @organism.pv %></dd>
    <dt><strong><%= model_class.human_attribute_name(:taxid) %>:</strong></dt>
    <dd><%= @organism.taxid %></dd>
</dl>

<div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                organisms_path, :class => 'btn' %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_organism_path(@organism), :class => 'btn' %>
</div>
