<div class="border-form-div">
<h2>Account details</h2>

<%= form_for(@user) do |f| %>

      %= f.label :first_name %>
      <%= f.text_field :first_name %>
      
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

</div>