<div class="border-form-div">
<h2>Account details</h2>

<%= form_for @user do |f| %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
      
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :admin %>
      <%= f.checkbox :admin %>

		<br>
 		<p>
    		<button type="submit" name="commit" class='btn btn-success'>
      		<i class="icon-pencil icon-white"></i>
      		Update
    		</button>
  		</p>
    <% end %>

</div>