<% @users.each do |user| %>
<div class=<% if user.admin %>"boxedin userAdmin"<% else %>"boxedin userNormal"<% end %>>
	<p><%= user.first_name %></p>
	<p><%= user.last_name %></p>
	<p><%= user.email %></p>
	
	<% if !user.admin %>
	<%= button_to "Edit", { action: "edit" }, :class => "btn btn-into" %>
	<%= link_to 'Download Results', :controller => 'admin', :action => 'edit', :user_id => user. %>
	<a href="#" class="btn btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>
	<% end %>
</div>
<hr>
<% end %>