<% @users.each do |user| %>
    <div class="boxedin userNormal">
        <p><%= user.first_name %></p>

        <p><%= user.last_name %></p>

        <p><%= user.email %></p>

        <% if not user.admin %>
            <%= link_to 'Edit', {:controller => 'admin', :action => 'edit', :id => user.id}, :class => "btn btn-inverse" %>

            <a href="#" class="btn btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a>
            <p><%= button_to "Cancel account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %></p>
        <% end %>
    </div>
    <hr>
<% end %>