<h2>Resend unlock instructions</h2>

<%= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :email, :autofocus => true, placeholder: true, label: false %></div>
  <div><%= f.submit "Resend unlock instructions" %></div>
<% end %>

<%= render "devise/shared/links" %>
