<div class="jumbotron centerit">
    <h1>OpenAshDieBack - GeeFu</h1>

    <div class="pw-widget pw-size-medium pw-counter-show">
        <a class="pw-button-facebook"></a>
        <a class="pw-button-twitter"></a>
        <a class="pw-button-email"></a>
        <a class="pw-button-post"></a>
    </div>
    <script src="http://i.po.st/static/v3/post-widget.js#publisherKey=q55or11r57dqbmsqucel" type="text/javascript"></script>

    <p class="lead">Welcome to the OpenAshDieBack GeeFu site.</p>

    <p class="lead">
        You need to <%= link_to "sign in", new_user_session_path %>
        (or <%= link_to "sign up", new_user_registration_path %>) before you can access the data.
    </p>

    <% if false %>
        <p class="lead">
            Or you can
            <%= link_to "browse", browse_path %>
            the data that already exists.
        </p>
    <% end %>

    <div class="row-fluid">
        <%= link_to(new_user_session_path, :class => "btn btn-primary") do %>
            <i class="icon-user icon-white"></i>
            Sign In
        <% end %>
        <%= link_to(new_user_registration_path, :class => "btn btn-success") do %>
            <i class="icon-pencil icon-white"></i>
            Sign up
        <% end %>
        <% if false %>
            <%= link_to(browse_path, :class => "btn btn-action") do %>
                <i class="icon-search icon-white"></i>
                Browse
            <% end %>
        <% end %>

    </div>

</div>

<br>

<%= render "pages/blerb" %>