<div class="jumbotron">

    <h1>OpenAshDieBack - GeeFu</h1>

<p class="lead">Welcome to the OpenAshDieBack GeeFu site.</p>

    <!--TMP-->
    <p class="lead">
    You need to <%= link_to "sign in", new_user_session_path%>
    (or <%= link_to "sign up", new_user_registration_path%>) before you can access the data.
    </p>
    <p class="lead">
    Or you can
    <%= link_to "browse", browse_path %>
    the data that already exists.
    </p>
    <div class="row-fluid">
    <%= link_to(new_user_session_path, :class => "btn btn-primary") do%>
        <i class="icon-user icon-white"></i>
        Sign In
        <% end %>
    <%= link_to(new_user_registration_path, :class => "btn btn-success") do %>
        <i class="icon-pencil icon-white"></i>
        Sign up
        <% end %>
    <%= link_to(browse_path, :class => "btn btn-action") do %>
        <i class="icon-search icon-white"></i>
        Browse
        <% end %>

        <hr>

<h2>GeeFu is a site for sharing and updating genomics data and information on ash and ash dieback.</h2>

<p>Through this site you can</p>

    <p>1. Browse and keyword search all the genomics data from [The Open Ash Dieback Project](http://oadb.tsl.ac.uk)</p>
    <p>2. BLAST against the sequence databases in there</p>
    <p>3. Read the growing wiki of contributed gene information.</p>

    <p>More importantly you can also</p>

    <p>1. Contribute new analyses and annotations of genes, proteins etc</p>
    <p>2. Add to the wiki your expert knowledge</p>
    <p>3. Modify and update the gene and protein models based</p>


    <p>As you do this, you'll be given credit for every contribution you make, your details will be saved to our database and counted as a contributor on the project, if you choose to share.</p>

        <hr>

<h2>The GeeFu ecosystem</h2>

    <p>GeeFu links closely with the OpenAshDieBack [GitHub repository](https://github.com/ash-dieback-crowdsource/data), all data in that is reflected here and _vice versa_ and it is this that manages our data tracking.</p>

    <p>GeeFu mashes-up the excellent GMOD [Web Appollo](http://www.gmod.org/wiki/WebApollo) tool to allow graphical annotation of genes and edits of gene models.</p>

    <p>GeeFu incorporates the also excellent Ruby gem [Sequence Server](http://sequenceserver.com/) as its BLAST server to allow sequence based search of the data.</p>

    <p>GeeFu uses [BioDalliance](http://www.biodalliance.org) as a viewing engine for its snapshots of the genome and in-place browsing.</p>

    <p>As a Rails-app GeeFu provides a RESTful interface for programatic access of the data.</p>

<h2>Getting help</h2>
    <p>Any questions, please contact <a href="mailto:oadb@tsl.ac.uk">oadb@tsl.ac.uk</a></p>
    </div>