<div class="jumbotron centerit">
    <h1>OpenAshDieBack - GeeFu</h1>

    <p class="lead">Welcome to the OpenAshDieBack GeeFu site.</p>

    <p class="lead">
        You need to <%= link_to "sign in", new_user_session_path %>
        (or <%= link_to "sign up", new_user_registration_path %>) before you can access the data.
    </p>

    <% if false %>
        <p class="lead">
            Or you can
            <%= link_to "browse", browse_path %>
            the data that already exists.
        </p>
    <% end %>

    <div class="row-fluid">
        <%= link_to(new_user_session_path, :class => "btn btn-primary") do %>
            <i class="icon-user icon-white"></i>
            Sign In
        <% end %>
        <%= link_to(new_user_registration_path, :class => "btn btn-success") do %>
            <i class="icon-pencil icon-white"></i>
            Sign up
        <% end %>
        <% if false %>
            <%= link_to(browse_path, :class => "btn btn-action") do %>
                <i class="icon-search icon-white"></i>
                Browse
            <% end %>
        <% end %>

    </div>

</div>

<br>

<div id="example1">
    <div id="twitter" data-url="http://sharrre.com/" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="Tweet"></div>
    <div id="facebook" data-url="http://sharrre.com/" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="Like"></div>
    <div id="googleplus" data-url="http://sharrre.com/" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="+1"></div>
</div>

<%= render "pages/blerb" %>