<% if @experiments.length == 0 %>
    <p>No experiments found that contain <%="#{@ssid}"%></p>
    <% else %>

<p>Experiments that contain <%="#{@ssid}"%></p>

<% @experiments.each do |experiment| %>

<%exp = Experiment.find(experiment)%>

<p><a href="/experiments/<%= experiment %>">Experiment: #<%= "#{experiment}" %> - <%= "#{exp.name }" %> - <%= "#{exp.description}" %></a></p>
<%end%>
<%end%>


