<%- model_class = Experiment -%>
<div class="page-header">
    <h1><%= t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<% unless @experiments.empty? %>

    <table class="table table-striped">
        <thead>
        <tr>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th><%= model_class.human_attribute_name(:description) %></th>
            <th><%= model_class.human_attribute_name(:created_at) %></th>
            <th>Features associated</th>
        </tr>
        </thead>
        <tbody>
        <% @experiments.each do |experiment| %>
            <tr>
                <td><%= link_to experiment.name, experiment_path(experiment) %></td>
                <td><%= experiment.description %></td>
                <td><%= l experiment.created_at.to_date, format: :gee_fu %></td>
                <td><%= experiment.features.count %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>
<% if user_signed_in? %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_experiment_path,
                :class => 'btn btn-primary' %>
<% end %>
