<% genomes = Genome.all %>

<h1>New experiment from GFF or BAM file</h1> 

<div id="gff_experiment_data">
	<legend>If you have a GFF File...</legend>
	<%= simple_form_for(@experiment, :html => {:multipart => true, class: "form-horizontal" }) do |f| %>
		<%= f.error_notification %>
		<%=f.input :name, required: true%>
		<%=f.input :description, required: true%>
		<%=f.input :gff_file, as: :file, required: true, label: "GFF3 file of features"%>
	  <%= f.input :genome_id, collection: Genome.all, prompt: "Select a genome build...", required: true %>
        <%=f.input :meta, as: :string, required: false, label: "Meta data"%>
	  <%= f.input :find_parents, collection: ["Yes", "No"], prompt: "Find parents", selected: "Yes", prompt: nil, label: "Find parents for the features in this file?", hint: "(Upload is quicker if all the features are parentless)" %>
		<%= f.hidden_field :expected_file, :value => "gff" %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
   </div>
	<% end %>
</div>
<div id="bam_experiment_data">
	<legend>...or if you have a BAM File</legend>
	<%= simple_form_for(@experiment, :html => {:multipart => true, class: "form-horizontal"}) do |f| %>  
	  <%= f.error_notification %>
		<%=f.input :name, required: true%>
		<%=f.input :description, required: true%>
		<%=f.input :bam_file_path, required: true, label: "BAM file of features"%>
	  <%= f.input :genome_id, collection: Genome.all, prompt: "Select a genome build...", required: true %>
		<%=f.input :meta, as: :string, required: false, label: "Meta data"%>
		<%= f.hidden_field :expected_file, :value => "bam" %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
   </div>
	<% end %> 
</div>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")), experiments_path, :class => 'btn' %>
