<% genomes = Genome.all %>

<h1>New experiment from GFF or BAM file</h1> 

<h2>If you have a GFF File</h2>
<% form_for(@experiment, :html => {:multipart => true}) do |f| %>  
	<%= f.error_messages %>  
	<p>  <%= f.label "name (required)" %><br /> 
		 <%= f.text_field :name %> <br />
  
	<%= f.label "description (required)" %><br />  
	<%= f.text_field :description %> <br />
  	<%= f.label "GFF3 file of features  (required)"%><br />
	<%= f.file_field :gff_file  %><br />
	<%= f.label "YAML file of metadata about this genome (optional - inherits from genome if omitted) "%><br />
	<%= f.file_field :yaml_file %><br />
	Select one of the genome build versions in this DB to attach these features to:<br />
		<% genomes.each do |g|%><br />
			<%= label :genome_id, g.build_version %>
			<%= f.radio_button :genome_id,  g.id %>
		<% end %><br />  
	Find parents for the features in this file? (Upload is quicker if all the features are parentless)<br />
	<%= label :find_parents, "Yes"%>
	<%= f.radio_button :find_parents, "find_parents", :checked => true %>
	<%= label :find_parents, "No"%>
	<%= f.radio_button :find_parents,  "dont_find" %><br />	
	<%= f.hidden_field :expected_file, :value => "gff" %>
</p>
 <p>  <%= f.submit "Create" %>  </p> 
<% end %>
<h2>or if you have a BAM File</h2>
<% form_for(@experiment, :html => {:multipart => true}) do |f| %>  
	<%= f.error_messages %>  
	<p>  <%= f.label "name (required)" %><br /> 
		 <%= f.text_field :name %> <br />
  
	<%= f.label "description (required)" %><br />  
	<%= f.text_field :description %> <br />
  	<%= f.label "BAM file of features  (required)"%><br />
	<%= f.text_field :bam_file_path %><br />
	<%= f.label "YAML file of metadata about this genome (optional - inherits from genome if omitted) "%><br />
	<%= f.file_field :yaml_file %><br />
	Select one of the genome build versions in this DB to attach these features to:<br />
		<% genomes.each do |g|%><br />
			<%= label :genome_id, g.build_version %>
			<%= f.radio_button :genome_id,  g.id %>
		<% end %>  
	<%= f.hidden_field :expected_file, :value => "bam" %>
</p>
 <p>  <%= f.submit "Create" %>  </p>
<% end %> 
<%= link_to 'Back', experiments_path %> 