<%- model_class = Experiment -%>
<div class="page-header">
    <h1>Experiment ID <%= @experiment.id %></h1>
</div>

<p>Enter the name of the reference sequence:</p>

<input value="<%= @firstseq %>" id="seqname" type="text" class="span5" style="margin: 0 auto;" data-provide="typeahead" data-items="10" data-source='<%= @seqs %>'>
<button id="seqsearchbutton" class="btn">Go</button>
<br>
<br>


<div class="well" id="dally">
    <iframe id="frame" src="" width="100%" height="400px" frameBorder="0" seamless='seamless'></iframe>
    <br>
    <button id="togglefs" class="btn btn-info">Toggle Fullscreen</button>
</div>




<script type="text/javascript">
    function goToAddress() {
//        alert("CLICK");
        seq = $("#seqname").val();
        if (!seq || 0 === seq.length) {
            seq = "UNKNOWN"
        }

//        $.get("/features/dalliance/part/<%= @experiment.id%>/" + seq, function (data) {
//            $("#dally").html('');
//            $("#dally").html(data);
//            alert("data");
//            $("#dally").find("script").each(function () {
//                var scriptContent = $(this).html(); //Grab the content of this tag
//                alert(scriptContent);
//                eval(scriptContent); //Execute the content
//            });
//    });

        // $("#frame").attr("src", "/features/dalliance/part/<%= @experiment.id%>/" + seq);

        $.get("/features/dalliance/part/<%= @experiment.id%>/" + seq, function(data){
            $("#frammer").html(data);
        });
    }

<div id="frammer"></div>

    goToAddress();

    $("#seqsearchbutton").click(function () {
        goToAddress();
    });


    function togglefs() {

        var button = $("#togglefs");
        var holder = $("#dally");

            holder.toggleClass("well");
            holder.toggleClass("fullscreen");
    }

    $("#togglefs").click(function () {
        togglefs();
    });

</script>

<hr>

<dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
    <dd><%= @experiment.name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
    <dd><%= @experiment.description %></dd>
    <dt><strong><%= model_class.human_attribute_name(:uses_bam_file) %>:</strong></dt>
    <dd><%= @experiment.uses_bam_file %></dd>
    <% if @experiment.uses_bam_file %>
        <dt><strong><%= model_class.human_attribute_name(:bam_file_path) %>:</strong></dt>
        <dd><%= @experiment.bam_file_path %></dd>
    <% end %>
    <dt><strong>Number of features:</strong></dt>
    <dd><%= @experiment.features.count %></dd>
    <dt><strong><%= model_class.human_attribute_name(:meta) %>:</strong></dt>
    <dd><%= @experiment.meta %></dd>
</dl>

<div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                experiments_path, :class => 'btn' %>
    <%#= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_experiment_path(@experiment), :class => 'btn' %>
              <a href="/wiki/<%= @experiment.genome.organism.local_name.downcase %>/<%= @experiment.genome.build_version.downcase %>/<%= @experiment.name.downcase %>" class="btn">Add/Edit Wiki page</a>
</div>
