

<%- model_class = Experiment -%>
<p>DEBUG: found <%=@seqs.length%> sequences</p>
<div class="page-header">
  <h1>Experiment ID <%= @experiment.id%></h1>
</div>

<p>Example: <%=@seqs.first%></p>

<input type="text" class="span5" style="margin: 0 auto;" data-provide="typeahead" data-items="10" data-source='<%=@seqs%>'>

<div id="mydiv"><iframe id="frame" src="" width="100%" height="600">
   </iframe></div>
  <button id="button">Load</button>

  <script>
  $("#button").click(function () { 
      $("#frame").attr("src", "/features/dalliance/part/1/Cf746836_TGAC_s1v1_scaffold_5");
});
  </script>


<hr>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @experiment.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @experiment.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:uses_bam_file) %>:</strong></dt>
  <dd><%= @experiment.uses_bam_file %></dd>
  <% if @experiment.uses_bam_file %>
    <dt><strong><%= model_class.human_attribute_name(:bam_file_path) %>:</strong></dt>
    <dd><%= @experiment.bam_file_path %></dd>
  <% end %>
  <dt><strong>Number of features:</strong></dt>
  <dd><%= @experiment.features.count %></dd>
  <dt><strong><%= model_class.human_attribute_name(:meta) %>:</strong></dt>
  <dd><%= @experiment.html_meta %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              experiments_path, :class => 'btn'  %>
  <%#= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_experiment_path(@experiment), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              experiment_path(@experiment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
