<%= form_for @genome, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <div class="control-group">
    <%= f.label :build_version, "Build version (required)", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :build_version, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fasta_file, "Fasta file of sequences (required)", :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :fasta_file, :class => 'file_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :yaml_file, "YAML file of metadata about this genome (required for AnnoJ browsing only)", :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :yaml_file, :class => 'file_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                genomes_path, :class => 'btn' %>
  </div>
<% end %>
