<h1>Editing genome</h1>

<% form_for(@genome) do |f| %>
  <%= f.error_messages %>
  <%= f.error_messages %>
	<p>  <%= f.label "Build version (required)" %><br /> 
		 <%= f.text_field :build_version %> <br />
		<%= f.label "Fasta file of sequences (required)"%><br />
		<%= f.file_field :fasta_file  %><br />
		<%= f.label "YAML file of metadata about this genome (required for AnnoJ browsing only)"%><br />
		<%= f.file_field :yaml %><br />
	</p>
  <p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @genome %> |
<%= link_to 'Back', genomes_path %>