<%- model_class = Genome -%>
<div class="page-header">
    <h1><%= t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<% if user_signed_in? %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_genome_path,
                :class => 'btn btn-primary' %>
    <hr/>
<% end %>

<% unless @genomes.empty? %>
    <table class="table table-striped">
        <thead>
        <tr>
            <th><%= model_class.human_attribute_name(:id) %></th>
            <th><%= model_class.human_attribute_name(:organism) %></th>
            <th><%= model_class.human_attribute_name(:build_version) %></th>
            <th><%= model_class.human_attribute_name(:meta) %></th>
            <th><%= model_class.human_attribute_name(:created_at) %></th>
        </tr>
        </thead>
        <tbody>
        <% @genomes.each do |genome| %>
            <tr>
                <td><%= link_to genome.id, genome_path(genome) %></td>
                <td><%= genome.organism %></td>
                <td><%= genome.build_version %></td>
                <td><%= genome.html_meta %></td>
                <td><%= l genome.created_at.to_date, format: :gee_fu %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>