<%- model_class = Genome -%>
<div class="page-header">
    <h1><%= t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:build_version) %>:</strong></dt>
    <dd><%= @genome.build_version %></dd>
    <dt><strong><%= model_class.human_attribute_name(:meta) %>:</strong></dt>
    <dd><%= @genome.html_meta %></dd>
    <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
    <dd><%= l @genome.created_at.to_date, format: :gee_fu %></dd>
</dl>


//TODO
<% unless @experiments.empty? %>
    <table class="table table-striped">
        <thead>
        <tr>
            <!--<th><%= model_class.human_attribute_name(:id) %></th>-->
            <th><%= model_class.human_attribute_name(:experiment) %></th>
            <!--<th><%= model_class.human_attribute_name(:build_version) %></th>-->
            <!--<th><%= model_class.human_attribute_name(:meta) %></th>-->
            <!--<th><%= model_class.human_attribute_name(:created_at) %></th>-->
        </tr>
        </thead>
        <tbody>
        <% @experiments.each do |experiment| %>
            <tr>
                <!--<td><%= link_to experiment.id, experiment_path(experiment) %></td>-->
                <td><%= experiment %></td>
                <!--<td><%= experiment.build_version %></td>-->
                <!--<td><%= experiment.html_meta %></td>-->
                <!--<td><%= l experiment.created_at.to_date, format: :gee_fu %></td>-->
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>

<div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                genomes_path, :class => 'btn' %>
    <%#= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_genome_path(@genome), :class => 'btn' %>
</div>
