<%- model_class = Genome -%>
<div class="page-header">
    <h1><%= t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">

<dt><strong><%= model_class.human_attribute_name(:organism) %>:</strong></dt>
    <dd><%= @genome.organism %></dd>
    <dt><strong><%= model_class.human_attribute_name(:build_version) %>:</strong></dt>
    <dd><%= @genome.build_version %></dd>
    <dt><strong><%= model_class.human_attribute_name(:meta) %>:</strong></dt>
    <dd><%= @genome.meta %></dd>
    <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
    <dd><%= l @genome.created_at.to_date, format: :gee_fu %></dd>
</dl>

<hr>
<h3>Experiments attached to this genome</h3>

<% unless @experiments.empty? %>

    <table class="table table-striped">
        <thead>
        <tr>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th><%= model_class.human_attribute_name(:description) %></th>
            <th><%= model_class.human_attribute_name(:created_at) %></th>
            <th>Features associated</th>
        </tr>
        </thead>
        <tbody>
        <% @experiments.each do |experiment| %>
            <tr>
                <td><%= link_to experiment.name, experiment_path(experiment) %></td>
                <td><%= experiment.description %></td>
                <td><%= l experiment.created_at.to_date, format: :gee_fu %></td>
                <td><%= experiment.features.count %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% else %>
    <p>None yet, Why not add one <a href="<%= experiments_path %>">HERE</a></p>
<% end %>

<div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                genomes_path, :class => 'btn' %>
    <%#= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_genome_path(@genome), :class => 'btn' %>
              <a href="/wiki/<%= @genome.organism.local_name.downcase %>/<%= @genome.build_version.downcase %>" class="btn">Add/Edit Wiki page</a>
</div>
