<script language="javascript" src="/dalliance/js/bam.js"></script>
<script language="javascript" src="/dalliance/js/bigwig.js"></script>
<script language="javascript" src="/dalliance/js/das.js"></script>
<script language="javascript" src="/dalliance/js/spans.js"></script>
<script language="javascript" src="/dalliance/js/utils.js"></script>
<script language="javascript" src="/dalliance/js/cbrowser.js"></script>
<script language="javascript" src="/dalliance/js/feature-popup.js"></script>
<script language="javascript" src="/dalliance/js/tier.js"></script>
<script language="javascript" src="/dalliance/js/features.js"></script>
<script language="javascript" src="/dalliance/js/color.js"></script>
<script language="javascript" src="/dalliance/js/feature-draw.js"></script>
<script language="javascript" src="/dalliance/js/sequence-draw.js"></script>
<script language="javascript" src="/dalliance/js/domui.js"></script>
<script language="javascript" src="/dalliance/js/karyoscape.js"></script>
<script language="javascript" src="/dalliance/js/quant-config.js"></script>
<script language="javascript" src="/dalliance/js/track-adder.js"></script>
<script language="javascript" src="/dalliance/js/chainset.js"></script>
<script language="javascript" src="/dalliance/js/version.js"></script>
<script language="javascript" src="/dalliance/js/sha1.js"></script>
<script language="javascript" src="/dalliance/js/sample.js"></script>
<script language="javascript" src="/dalliance/js/kspace.js"></script>
<script language="javascript" src="/dalliance/json/json2.js"></script>
<script language="javascript" src="/dalliance/js/bin.js"></script>
<script language="javascript" src="/dalliance/js/twoBit.js"></script>
<script language="javascript" src="/dalliance/js/thub.js"></script>
<script language="javascript" src="/dalliance/js/svg-export.js"></script>
<script language="javascript" src="/dalliance/jszlib/js/inflate.js"></script>
<script language="javascript" src="/dalliance/js/browser-ui.js"></script>
<script language="javascript" src="/dalliance/js/glyphs.js"></script>
<script language="javascript" src="/dalliance/js/session.js"></script>
<script language="javascript" src="/dalliance/js/jbjson.js"></script>
<script language="javascript" src="/dalliance/js/sourceadapters.js"></script>
<script language="javascript" src="/dalliance/polyfills/html5slider.js"></script>
<script language="javascript" src="/dalliance/js/ensembljson.js"></script>
<script language="javascript" src="/dalliance/js/overlay.js"></script>

<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!--<h2><%= @part %> - found <%= @featcount.length %> features</h2>-->

<% @featureType.each do |feat|
  logger.error "#{feat}"
end %>

<script language="javascript">

    var b = new Browser({
        chr: '1',
        viewStart: 0,
        viewEnd: 10000,
        cookieKey: 'KW1',

        coordSystem: {
            speciesName: '<%= @experiment.name %>',
            taxon: 746836,
            auth: 'NCBIM',
            version: 37
        },

        sources: [

            {name: 'Genome',
                uri: '/genomes/dalliance/<%=@experiment.id%>/<%= @part %>',
                tier_type: 'sequence',
                provides_entrypoints: trye},

            <% if @featureType.include? "mRNA" %>
            {name: 'mRNA',
//                provides_entrypoints: true,
                uri: '/features/dalliance/<%=@experiment.id%>/<%= @part %>.xml',
                features_uri: '/features/dalliance/<%=@experiment.id%>/<%= @part %>.xml',
                type: ['five_prime_UTR', 'exon', 'intron', 'three_prime_UTR'],
                stylesheet_uri: '/geefu_dalliance_style.xml',
                dasStaticFeatures: true},

            <% if @featureType.include? "mRNA"; @featureType.delete("mRNA"); end %>
            <% if @featureType.include? "five_prime_UTR"; @featureType.delete("five_prime_UTR"); end %>
            <% if @featureType.include? "exon"; @featureType.delete("exon"); end %>
            <% if @featureType.include? "intron"; @featureType.delete("intron"); end %>
            <% if @featureType.include? "three_prime_UTR"; @featureType.delete("three_prime_UTR"); end %>

            <%end%>

            <% @featureType.each do |feat| %>

            {name: '<%=feat%>',
                provides_entrypoints: true,
                uri: '/features/dalliance/<%=@experiment.id%>/<%= @part %>/<%=feat%>.xml',
                features_uri: '/features/dalliance/<%=@experiment.id%>/<%= @part %>/<%=feat%>.xml',
                type: ['five_prime_UTR', 'exon', 'intron', 'three_prime_UTR'],
                stylesheet_uri: '/geefu_dalliance_style.xml',
                dasStaticFeatures: true},

            <%end %>

        ],


        disablePoweredBy: true,
        uiPrefix: '/dalliance/',
        noTitle: true
    });

    b.addFeatureInfoPlugin(function (f, info) {
        console.log(info);
        info.setTitle("Hello, I am a title.");
        $.ajax({
            type: "GET",
            url: "/features/getgroup/" + f.id,
            async: false,
            dataType: "json",
            success: function (data) {
                $.each(data, function (ekey, eval) {
                    info.add(ekey,eval);
                });
            }
        });
    });

</script>


<div id='svgHolder'>Dalliance genome browser goes here. Unless you have an ancient web browser or something.</div>

<a href="http://v0311.nbi.ac.uk:8080/WebApollo/jbrowse/?loc=<%= @part %>" target="_blank" class="btn">View in
    WebApollo</a>