
<table class='table'>
  <tr>
    <th>ID</th>
    <th>Reference</th>
    <th>Feature</th>
    <th>Start</th>
    <th>End</th>
    <th>Strand</th>
    <th>Attributes</th>
    <th>Created</th>
    <th>Parent IDs</th>
</tr>

<% @experiments.each do |experiment| %>
<% experiment.features.limit(100).each do |feature| %>
<% logger.error("COUNTING #{feature.count}") %>
<tr>
  <td><%= link_to feature.id, edit_feature_path(feature) %></td>
  <td><%= feature.seqid %></td>
  <td><%= feature.feature %></td>
  <td><%= feature.start %></td>
  <td><%= feature.end %></td>
  <td><%= feature.strand %></td>
  <td><%= presenter.attributes %></td>
  <td><%=l feature.created_at.to_date, format: :gee_fu %></td>
  <td><%= presenter.parent_list %></td>
</tr>
<% end %>
<% end %>