
<legend>Get feature by database ID</legend>
<div id="find_feature_by_id">
	<%= form_for(Feature.new, url: feature_search_by_id_path, html: { class: "form-search" } ) do |f| %>
		<div class="input-append">
			<%= f.text_field :id, placeholder: "Database ID", label: false, class: "search-query" %>
		  <%= f.button "Search", :class => 'btn' %>
		</div>
	<% end %>
</div>

<legend>Get features by annotation</legend>
<div id="find_feature_by_attribute">
	<%= form_for(Feature.new, url: feature_search_by_attribute_path, html: { class: "form-search" } ) do |f| %>
		<div class="input-append">
			<%= f.text_field :group, label: false, placeholder: "Enter string to find", class: "search-query" %>
	  	<%= f.button "Search", :class => 'btn' %>
		</div>
	<% end %>
</div>

<legend>Get features by range</legend>
<%= form_tag( {:controller => "features", :action => "summary"}, :method => "post", :multipart => true, :id => "by_range" ) %>
<% if flash[:error] %>
	<% if not flash[:error].empty? %>
      <div class="errorExplanation" id="errorExplanation">
		<h2> <%= flash[:error].length %> errors prohibited the search from being executed</h2>
		<ul>
			<% flash[:error].each do |e| %>
			<li><%= e %></li>
			<% end %>
		</ul>
      </div>
	<%end%>
<% end %>
<%= label(:reference, :id, "Find features by sequence region") %><br />
<%= label(:genome, :id, "Select genome build") %><br />
<% @genomes.each do |g| %>
	<%= "<input id=\"genome_id_#{g.id}\" name=\"genome_id\" type=\"radio\" value=\"#{g.id}\" class=\"genome_button\" onMouseUp=get_chromosomes(\"#{g.id}\") />".html_safe %> 
    <%= label_tag(:genome_id, "#{g.build_version}") %>
<% end %><br/>
<%= label(:experiment, :id, "Select experiment") %><br />
<% @experiments.each do |e| %>
	<%= radio_button_tag("experiment", "#{e.id}") %> <%= label_tag( "#{e.id}", "#{e.name}")%>
<% end %><br /><br/>
<%= label(:reference_label, :reference_label, "Enter the name of the reference sequence") %><br />
<%= text_area_tag(:reference, "", :size => "40 x 1", :id => 'chromosome_list') %> <br />

<%= label(:reference, :coord, "Enter the start and end of the search region") %><br />
<%= text_area_tag(:start, "0", :size => "10 x 1")%> <%= text_area_tag(:end, "0", :size => "10 x 1")%><br />

<br />
<%= submit_tag "get features" %>
</form>