<legend>Get features by range</legend>
<%= form_for(Feature.new, url: feature_search_by_range_path, html: {id: "by_range"}) do |f| %>
    <%= select_tag "experiment", options_from_collection_for_select(Experiment.all, "id", "with_organism_and_genome"), prompt: "Select experiment...", class: "features-experiment" %>


    <%= label_tag :reference, "Enter the name of the reference sequence:" %>
    <%= text_field_tag :reference %>

    <%= label(:start, :coord, "Enter the start and end of the search region:") %>
    <%= text_field_tag :start, nil, placeholder: "One or higher" %>
    <%= text_field_tag :end, nil, placeholder: "Higher than start value" %>
    <br/>
    <%= f.submit "Get features", :class => 'btn btn-action' %>
<% end %>


<legend>Get features by annotation</legend>
<div id="find_feature_by_attribute">
    <%= form_for(Feature.new, url: feature_search_by_attribute_path, html: {class: "form-search"}) do |f| %>
        <div class="input-append">
            <%= f.text_field :group, label: false, placeholder: "Enter string to find", class: "search-query" %>
            <%= f.button "Search", :class => 'btn' %>
        </div>
    <% end %>
</div>



<legend>Get feature by database ID</legend>
<div id="find_feature_by_id">
    <%= form_for(Feature.new, url: feature_search_by_id_path, html: {class: "form-search"}) do |f| %>
        <div class="input-append">
            <%= f.text_field :id, placeholder: "Database ID", label: false, class: "search-query" %>
            <%= f.button "Search", :class => 'btn' %>
        </div>
    <% end %>
</div>

<legend>Get all features by genome build</legend>
<div id="display_all_by_build">
    <%= form_for(Genome.new, url: feature_display_all_by_build_path, html: {class: "form-search"}) do |f| %>
        
        <%= select_tag "genome_build", options_from_collection_for_select(Genome.all, "id", "build_version"), prompt: "Select genome build...", class: "features-experiment" %>
        <p>TODO need list of references by genome build  =  more ajax fun</p>
        
        <input type="text" class="span3" style="margin: 0 auto;" data-provide="typeahead" data-items="4" id="typeahead">

<br>
<br>


        <%= f.submit "Get features", :class => 'btn btn-action' %>

    <% end %>
</div>

<script>

// TODO

$('#typeahead').typeahead({
    source: function (query, process) {
        return $.get('/features/search/genome/typeahead', { query: query, genome_build: "genome_build" }, function (data) {
            return process(data);
        });
    }
});


</script>