<%if @feature.nil? %>
<legend>No feature with that ID</legend>
<%else%> 
<legend><%=" #{@feature.feature} feature: id #{@feature.id}"   %></legend>

<table class='table'>
	<tr>
		<th>ID</th>
		<th>Reference</th>
		<th>Feature</th>
		<th>Start</th>
		<th>End</th>
		<th>Strand</th>
		<th>Attributes</th>
		<th>Created</th>
		<th>Parent IDs</tr>
		<% g = 'none' %>
		<% if @feature.has_parent? %>
			<% g = @feature.parents.collect {|x| '<a href=/features/' + x.parent_obj.id.to_s + '/edit>' + x.parent_obj.id.to_s + '</a>'}.join(',') %>
		<% end %>
		<tr>
			<td><%= "<a href=\"#{@feature.id}/edit\">#{@feature.id}</a>".html_safe %></td>
			<td><%= @feature.seqid %></td>
			<td><%= @feature.feature %></td>
			<td><%= @feature.start %></td>
			<td><%= @feature.end %></td>
			<td><%= @feature.strand %></td>
			<td><%= @feature.group.join(' ') %></td>
			<td><%=l @feature.created_at.to_date, format: :gee_fu %></td>
			<td><%= g.html_safe %></td>
		</tr>
</table>

 <hr/>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              feature_path(@feature),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<p>This will delete the feature from the DB, remove any predecessors and unlink it as a parent of DB features</p>
<% if not @feature.predecessors.empty?%>
<legend>Predecessors </legend>

<table class="table">
	<tr><th>ID</th><th>Reference</th><th>Feature</th><th>Start</th><th>End</th><th>Strand</th><th>Attributes</th><th>Created</td></tr>
	<% @feature.predecessors.each do |p| 	%>
	<tr>
		<td><%= p.id %></td>
		<td><%= p.seqid %></td>
		<td><%= p.feature %></td>
		<td><%= p.start %></td>
		<td><%= p.end %></td>
		<td><%= p.strand %></td>
		<td><%= p.description %></td>
		<td><%= l p.created_at, format: :gee_fu %></td>
	</tr>
	<% end %>
	</table>
<% end %>
<% end %>