<%if @feature.nil? %>
<h2>No feature with that ID</h2>
<%else%> 
<h2><%=" #{@feature.feature} feature: id #{@feature.id}"   %></h2>
	
	<table>
		<tr><th>ID</th><th>Reference</th><th>Feature</th><th>Start</th><th>End</th><th>Strand</th><th>Attributes</th><th>Created</th><th>Parent IDs</tr>
			<% g = 'none' %>
			<% if @feature.has_parent? %>
				<% g = @feature.parents.collect {|x| '<a href=/features/' + x.parent_obj.id.to_s + '/edit>' + x.parent_obj.id.to_s + '</a>'}.join(',') %>
			<% end %>
		<tr>
			<td><%= "<a href=\"#{@feature.id}/edit\">#{@feature.id}</a>" %></td>
			<td><%= @feature.seqid %></td><td><%= @feature.feature %></td>
			<td><%= @feature.start %></td><td><%= @feature.end %></td>
			<td><%= @feature.strand %></td>
			<td><%= @feature.group.join(' ') %></td>
			<td><%= @feature.created_at.strftime("%R %A %d %B %Y") %></td>
			<td><%= g %></td>
		</tr>
	</table>

<h3>Erase this feature ... </h3>
<%= form_tag( {:controller => "features", :action => "destroy"}, :method => "post", :multipart => true, :id => "destroy" ) %>
<p>This will delete the feature from the DB, remove any predecessors and unlink it as a parent of DB features</p>
<%=	hidden_field_tag :id, @feature.id %>
<%= submit_tag 'Destroy' %>
</form>

<% if not @feature.predecessors.empty?%>
<h2>Predecessors </h2>

<table>
	<tr><th>ID</th><th>Reference</th><th>Feature</th><th>Start</th><th>End</th><th>Strand</th><th>Attributes</th><th>Created</td></tr>
	<% @feature.predecessors.each do |p| 	%>
	<tr><td><%= p.id %></td><td><%= p.seqid %></td><td><%= p.feature %></td><td><%= p.start %></td><td><%= p.end %></td><td><%= p.strand %></td><td><%= p.description %></td><td><%= p.created_at.strftime("%R %A %d %B %Y") %></td>
	<% end %>
	</table>
<% end %>
<% end %>