<%if @feature.nil? %>
<legend>No feature with that ID</legend>
<%else%> 
<legend><%=" #{@feature.feature} feature: id #{@feature.id}"   %></legend>

<table class='table'>
	<%= render partial: "feature_header"%>
  <%= render partial: "feature", object: @feature %>
</table>

 <hr/>
<% if not @feature.predecessors.empty?%>
<legend>Predecessors </legend>

<table class="table">
	<tr><th>ID</th><th>Reference</th><th>Feature</th><th>Start</th><th>End</th><th>Strand</th><th>Attributes</th><th>Created</td></tr>
	<% @feature.predecessors.each do |p| 	%>
	<tr>
		<td><%= p.id %></td>
		<td><%= p.seqid %></td>
		<td><%= p.feature %></td>
		<td><%= p.start %></td>
		<td><%= p.end %></td>
		<td><%= p.strand %></td>
		<td><%= p.description %></td>
		<td><%= l p.created_at, format: :gee_fu %></td>
	</tr>
	<% end %>
	</table>
<% end %>
<% end %>


<script src="/Credit/src/frontend/cheeves.js"></script>