<% if user_signed_in? %>

<H1>TEST</H1>
<div class="row demo-row">
        <div class="span9">
          <div class="navbar navbar-inverse">
            <div class="navbar-inner">
              <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
                <div class="nav-collapse collapse" id="nav-collapse-01">
                  <ul class="nav">
                    <li>
                      <a href="#fakelink">
                        Menu Item
                        <span class="navbar-unread">1</span>
                      </a>
                    </li>
                    <li class="active">
                      <a href="#fakelink">
                        Messages
                        <span class="navbar-unread">1</span>
                      </a>
                      <ul>
                        <li><a href="#fakelink">Element One</a></li>
                        <li>
                          <a href="#fakelink">Sub menu</a>
                          <ul>
                            <li><a href="#fakelink">Element One</a></li>
                            <li><a href="#fakelink">Element Two</a></li>
                            <li><a href="#fakelink">Element Three</a></li>
                          </ul> <!-- /Sub menu -->
                        </li>
                        <li><a href="#fakelink">Element Three</a></li>
                      </ul> <!-- /Sub menu -->
                    </li>
                    <li>
                      <a href="#fakelink">
                        About Us
                      </a>
                    </li>
                  </ul>
                </div><!--/.nav -->
              </div>
            </div>
          </div>
        </div>
        <div class="span3">
          <select name="herolist" value="X-Men" class="select-block span3" style="display: none;">
            <option value="0">Choose hero</option>
            <option value="1">Spider Man</option>
            <option value="2">Wolverine</option>
            <option value="3">Captain America</option>
            <option value="X-Men" selected="selected">X-Men</option>
            <option value="Crocodile">Crocodile</option>
          </select><div class="btn-group select select-block span3"><i class="dropdown-arrow dropdown-arrow-inverse"></i><button class="btn dropdown-toggle clearfix btn-primary" data-toggle="dropdown"><span class="filter-option pull-left">X-Men</span>&nbsp;<span class="caret"></span></button><ul class="dropdown-menu dropdown-inverse" role="menu" style="overflow-y: auto; min-height: 108px; max-height: 404px;"><li rel="0"><a tabindex="-1" href="#" class=""><span class="pull-left">Choose hero</span></a></li><li rel="1"><a tabindex="-1" href="#" class=""><span class="pull-left">Spider Man</span></a></li><li rel="2"><a tabindex="-1" href="#" class=""><span class="pull-left">Wolverine</span></a></li><li rel="3"><a tabindex="-1" href="#" class=""><span class="pull-left">Captain America</span></a></li><li rel="4" class="selected"><a tabindex="-1" href="#" class=""><span class="pull-left">X-Men</span></a></li><li rel="5"><a tabindex="-1" href="#" class=""><span class="pull-left">Crocodile</span></a></li></ul></div>
        </div>
      </div>
      <H1>TEST OVER</H1>

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <ul id="nav_menu" class="nav">

        <li> <a href="/">Home</a></li>
        <% if current_user.admin? %>
          <li><a href="<%=organisms_path%>">Samples</a></li>
        <% end %>
        <% if has_organisms? %>
          <li><a href="<%=genomes_path%>">Genome Builds</a></li>
          <li><a href="<%=experiments_path%>">Annotation Experiments</a></li>
          <li><a href="<%=features_path%>">Features</a></li>
          <li><a href="/tools">Tools</a>

                <ul>
                    	<li>
                            	<a href="/sequenceserver">SequenceServer</a>
                        </li>
                        <li>
                            	<li><a href="/browse" target="_blank">Gee Fu Browse </a></li>
                        </li>
                </ul>
        </li>


        <% end %>
        <li><a href="#">
        	<i class="icon-user icon-white"></i>
        		 Signed In
        		 <span class="navbar-unread">1</span>
        	</a>
                <ul>
                    	<li>
                            	<a href=<%=edit_user_registration_path%>><i class="icon-wrench icon-white"></i> My Account</a>
                        </li>
                        <li>
                            	<a href=<%=destroy_user_session_path%>>Sign Out</a>
                        </li>
                </ul>
        </li>
      </ul>
    </div>
  </div>
<% end %>