<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title or "OpenAshDieBack - GeeFu: #{controller.action_name}" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page">
  <div>
    <h1 id="page_title">OpenAshDieBack - Gee Fu</h1>
  </div>
  <ul id="nav_menu">
    <li><a href="/organisms">Samples</a></li>
    <li><a href="/genomes">Genome Builds</a></li>
    <li><a href="/experiments">Annotation Experiments</a></li>
    <li><a href="/features">Features</a></li>
    <li><a href="/tools">Tools</a></li>
    <li><a href="/browse" target="_blank">Gee Fu Browse </a></li>
  </ul>
  <% if notice.present? %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>
</div>
</body>
</html>