<!DOCTYPE html>
<html>
<head>
    <title><%= @page_title or "OpenAshDieBack - GeeFu: #{controller.action_name}" %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

<div id="page" class="container">
    <%= bootstrap_flash %>
    <%= render partial: "layouts/navbar" %>
    <div class="well">
        <%= yield %>
    </div>
</div>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-45021109-1', 'nbi.ac.uk');
    ga('send', 'pageview');


</script>
<!--<script src="/assets/stickUp.min.js"></script>-->
<!--<script type="text/javascript">-->
//    //initiating jQuery
//    jQuery(function ($) {
//        $(document).ready(function () {
//            //enabling stickUp on the '.navbar-wrapper' class
//            $('.navwrapper').stickUp();
//        });
//    });
//
<!--</script>-->
</body>
</html>
